---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.tsx";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import SliderChartWrapper from "../components/SliderChartWrapper.tsx";
import Introdcution from "../components/Introduction.tsx";
import Footer from "../components/Footer.tsx";

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <!-- <Header /> -->
        <main>
            <Header client:load pathname={pathname} subpath={subpath} />
            <section class="introdcution">
                <Introdcution />
            </section>
            <section id="MAIN">
                <SliderChartWrapper client:load />
            </section>
            <Footer />
        </main>
    </body>
</html>
<style> 
	@media (min-width: 2000px) {
        section {
            padding-left: 20rem;
            padding-right: 20rem;
        }
    }
	@media (max-width: 2000px) {
        section {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
</style>
