---
import BaseHead from '../components/BaseHead.astro';
// import Header from '../components/Header.astro';
import Header from '../components/Header.tsx';
import SteuernChart from '../components/SteuernChart.tsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body >
		<!-- <Header /> -->
		<main>
			<section class="introdcution">
				<Header client:load pathname={pathname} subpath={subpath} />
			</section>
            <section>
                <SteuernChart client:load />
            </section>
		</main>
	</body>
</html>

<style> 
	section {
        padding: 1rem;
	}
</style> 
