---
import BaseHead from '../../components/BaseHead.astro';
// import Header from '../components/Header.astro';
import Header from '../../components/Header.tsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body >
		<!-- <Header /> -->
		<main>
			<section class="introdcution">
				<Header client:load pathname={pathname} subpath={subpath} />
			</section>
            <section class="introdcution">
                <h2 class="text-2xl">Quellen:</h2>
                <div class="sm:p-8 p-4">
                    <ul class="list-disc">
                        <li id="#WP1">WP1 – Wahlprogramm <a href="https://www.die-linke.de/bundestagswahl-2025/wahlprogramm/">https://www.die-linke.de/bundestagswahl-2025/wahlprogramm/</a></li>
                        <li id="#ZEW">ZEW –  <a href="https://ftp.zew.de/pub/zew-docs/gutachten/Bundestagswahlprogramme_ZEW_2025.pdf">https://ftp.zew.de/pub/zew-docs/gutachten/Bundestagswahlprogramme_ZEW_2025.pdf</a></li>
						<li id="#STATISTA">Statista –  <a href="images/statista_bme_2023.png">Verteilung der sozialversicherungspflichtig Vollzeitbeschäftigten nach dem
							monatlichen Bruttoeinkommen in Deutschland am 31. Dezember 2023</a></li>
                    </ul>
                </div>
            </section>
		</main>
	</body>
</html>

<style> 
	section {
        padding: 1rem;
	}
</style>
