---
import BaseHead from '../../components/BaseHead.astro';
// import Header from '../components/Header.astro';
import Header from '../../components/Header.tsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body >
		<!-- <Header /> -->
		<main>
			<section class="introdcution">
				<Header client:load pathname={pathname} subpath={subpath} />
			</section>
            <section class="introdcution">
                <h2>Section Quellen</h2>
                <p>Quellenangaben und so weiter bla bla blub</p>
            </section>
		</main>
	</body>
</html>

<style> 
	section {
        padding: 1rem;
	}
</style>
